@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

* {
  font-family: $ff-base;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  max-width: 1200px;
  margin: 40px auto;
  border: 1px solid $clr-gray-20;
}
